<div class="container">
    <br>
    <br>
    <br>
    <form>
        <div class="form-group">
            <label>Room: </label>
            <input type="text" [(ngModel)]="roomname" name="roomname" id="roomname">
        
            <button (click)="joinRoom()" id="roomname-button">Join</button>
            <br>
            <br>
            <label for="messagecontent">New Message: </label>
            <input type="text" [(ngModel)]="messagecontent" name="messagecontent" id="messagecontent" class="form-control" />
            <button (click)="chat()" class="btn btn-primary"> Send </button>
        </div>


    </form>

</div>

<li *ngFor="let group of groupList">{{group}}</li>

<h3>Chat Log</h3>
<li *ngFor="let m of messages">{{m}}</li>
