<div class="wrapper fadeInDown">
    <div id="formContent">


        <ng-template [ngIf]="loggedIn" [ngIfElse]="loggedOut">

        <h1>User {{userLogin}} is currently logged in</h1>

        <h3>To join as a different user please sign out</h3>

        <button id="userLoginButton" (click)="logout()">Logout</button>

        </ng-template>

        <ng-template #loggedOut>

        <!-- Login Form -->
        <div id="userLogin">
            <form>
                <label>Username</label>
                <input id="userField" type="username" name="username" [(ngModel)]="username" placeholder="username">
                <label>Password</label>
                <input id="userField" type="password" name="password" [(ngModel)]="password" placeholder="password">
            </form>
        </div>

        <button id="userLoginButton" (click)="getUser()">Get User</button>
        <button id="userLoginButton" (click)="getUsers()">Get User List for Group</button>


        </ng-template>

    </div>
</div>